.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;

  .title {
    font-size: 2em;
  }

  .search {
    display: flex;
    align-items: center;

    .ico-logoplay {
      margin-right: 10px;
    }

    .input-group {
      flex-grow: 1;
    }
  }
}
